.admin_model{border:var(--border);background: var(--neutralDarker-50);}
.admin_model > br{display:none;}
.admin_model > div:not(:last-of-type){border-bottom:var(--border);}
.admin_model_top{position:relative; height:75px; padding-left:var(--gap-l);}
.admin_model h1.page-title.display-title{opacity: 0.03;right:initial;left:0;font-size:7rem}
.admin_model_top b{color:var(--co-grp);}
.admin_model > div:not(.admin_model_top){padding:var(--gap);}
.admin_model_msg {background: linear-gradient(to right, transparent, var(--co-grp-10));}
