.panel:has(.nav[href="/f22-systeme"]) + .allposts .post:not(:has(.sujetadmin)) {grid-template:auto 1fr / auto 1fr;align-items:start; width:calc(65ch + 300px);margin:0 auto;
    > *:not(.post_head, .post_main), .post_name, .post_head > .contents, .rep-nb {display:none!important;}
    .post_main{flex-direction:column-reverse;}
    .post_message{grid-row:1/2;padding:var(--gap-l);padding-bottom:40px; display:grid; grid-template-columns: 1fr auto;width:100%;padding-left:0;}
    .post_details{position:absolute;opacity:0;transition:opacity .5s ease;padding: var(--gap) 0;}
    &:hover .post_details{opacity:1;}
    .post_details, .edition-buttons{flex-direction:row;width: fit-content;}
    .edition-buttons [class^="btn-"]:hover .button_name, .rep-button:hover .button_name{top:-25px;left:initial;}
    .post_date{writing-mode:horizontal-tb;white-space:nowrap;}
    .post_head{border:none;background:transparent;grid-column:1/2;padding-right:var(--gap-s);}
    .post_pseudo{font:bold 1rem var(--font);position:relative;opacity:1;text-transform:uppercase;}
    .post_pseudo *{font-weight:bold;}
    .post_pseudo:after{content:' :';}
    .fa_like_div{max-width:300px;}
    .fa_like_list{margin:0;}
}

.panel:has(.nav[href="/f23-registre-des-astres"]) + .allposts .post:not(:has(.sujetadmin)) {grid-template:auto 1fr / 1fr;align-items:start; width:calc(65ch + 300px);margin:0 auto;
> *:not(.post_main), .post_name, .post_head > .contents, .rep-nb {display:none!important;}
.post_main{flex-direction:column-reverse;position:relative;}
    .post_message{grid-row:1/2;padding:var(--gap-l);padding-bottom:40px; display:grid; grid-template-columns: 1fr auto;width:100%;}
.post_details{position:absolute;opacity:0;transition:opacity .5s ease;}
    &:hover .post_details{opacity:1;}
    .post_details, .edition-buttons{flex-direction:row;width: fit-content;}
    .edition-buttons [class^="btn-"]:hover .button_name, .rep-button:hover .button_name{top:-25px;left:initial;}
    .post_date{writing-mode:horizontal-tb;white-space:nowrap;}
.post_message > div:first-of-type{display:grid;grid-template-columns:auto 1fr; gap:var(--gap-s);}
.info_pnj, .info_pnj g{font:bold 1rem var(--font);text-transform:uppercase; color:var(--co2);}
.info_pnj .d{font:normal 1rem var(--font);text-transform:initial; color:initial;}
.fa_like_div{max-width:300px;}
.fa_like_list{margin:0;}
}
